/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/*.js
/storage/*.key
/vendor
/_meta
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant
.DS_Store
.vscode
.php_cs.cache
test
